body {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
}

a {
    text-decoration: none;
    color: rgb(51, 51, 51);
}
.fa-bars {
    color: white;
}
.flex {
    display: flex;
    gap: var(--gap, 2rem);
}

/* Primary Header */
.primary-header {
    align-items: center;
    background-color: black;
    justify-content: space-between;
    
}

.logo {
    margin: 1rem;
    width: 330px;
    height: auto;
    margin-bottom: .68rem;
    position: relative;
    top: -3;
    text-align: center;
}

.logo-wrapper {
    text-align: center;
    width: 100%;
}

.socials {
    text-align: center;
    position: relative;
    left: -22;
    font-size: 17px;
}

.banner-socials {
    background-color: rgb(238, 103, 49);
    color: white;
    padding: 7.2px 0;
    text-align: center;
    margin: 0;
}

i {
    color: white;
    padding-left: 10px;
}

.primary-navigation {
    background: hsl(0, 0%, 0%, 0.80);
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
    position: fixed;
    inset: 0 0 0 0%;
    flex-direction: column;
    justify-content: center;
    backdrop-filter: blur(1rem);
    z-index: 1000;
    align-items: center;
}

.mobile-nav-toggle {
    aspect-ratio: 1;
    position: absolute;
    top: 1rem;
    right: 2rem;
    width: 2rem;
    z-index: 9999;
}

.hero-container > .hero-img {
    background: url(img/GettyImages-900968328-e1590591200193.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    width: 100%;
    height: 75%;
    text-indent: -9999999;
}

.hero-text {
    color: white;
    font-size: 3.5em;
    width: 500px;
    text-transform: uppercase;
    margin-left: 200px;
    position: relative;
    top: -470;
    left: -20;
    line-height: 55px;
}
.sub-nav {
    background-color: rgb(221, 221, 221);
    border-color: rgb(51, 51, 51);
    display: flex;
    justify-content: center;
    position: relative;
    top: -240;
}

.subnav-content {
    display: flex;
    font-size: .8em;
    justify-content: flex-start;
    width: 64%;
    padding: 10px 0;
}

.subnav-items {
    margin-left: 10px;
}


@supports(backdrop-filter: blur(1rem)) {
    .primary-navigation{ 
    background: hsl(0 0% 100% / 0.1);
    backdrop-filter: blur(1rem);
    }
}

.primary-navigation a {
    text-decoration: none;
    color:rgb(238, 103, 49);
    text-transform: uppercase;
}

main {

}

@media (max-width: 65em) {
    .primary-navigation {
    --gap: 2em;
    padding: min(30vh, 10rem);
    }    
}