body {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
}

.fa-bars {
    color: white;
}
.flex {
    display: flex;
    gap: var(--gap, 2rem);
}

/* Primary Header */
.primary-header {
    align-items: center;
    background-color: black;
    justify-content: space-between;
    
}

.logo {
    margin: 1rem;
    width: 330px;
    height: auto;
    margin-bottom: .68rem;
    position: relative;
    top: -3;
}

.logo-wrapper {
    text-align: center;
    width: 100%;
}

.primary-navigation {
    background: hsl(0, 0%, 0%, 0.80);
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
    position: fixed;
    inset: 0 0 0 0%;
    flex-direction: column;
    justify-content: center;
    backdrop-filter: blur(1rem);
    z-index: 1000;
    border: solid 5px blue;
    align-items: center;
}

.mobile-nav-toggle {
    aspect-ratio: 1;
    position: absolute;
    top: 1rem;
    right: 2rem;
    width: 2rem;
    z-index: 9999;
}

@supports(backdrop-filter: blur(1rem)) {
    .primary-navigation{ 
    background: hsl(0 0% 100% / 0.1);
    backdrop-filter: blur(1rem);
    }
}

.primary-navigation a {
    text-decoration: none;
    color:rgb(238, 103, 49);
    text-transform: uppercase;
}

@media (max-width: 65em) {
    .primary-navigation {
    --gap: 2em;
    padding: min(30vh, 10rem);
    }    
}